@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;600;900&family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-accent bg-secondary overflow-x-hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-secondary;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full hover:bg-primary-dark;
}
